.contenedor-testimonio{
    width: 1170px;
    height: 400px;
    margin: 10px 10px 5px 50px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px red;
}
.contenedor-texto-testimonio{
    align-items: center;
    padding: 50px;
    font-weight: 400;
    line-height: 1.4rem;
}
.cargo-testimonio{
    font-size: 1.3rem; 
    margin-top: 15px; 
    padding-bottom: 30px;
}
.imagen-testimonio{
    height: 100%;
    width: auto;
    
}
.texto-testimonio{
    font-size: 1.1rem;
    text-align: justify;
}
.nombre-testimonio{ font-size: 1.3rem; }